{% extends 'resource_finder/base.html' %}

{% block title %}Loci{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
           <h1 class="text-center" style="font-size: 80px">What are you <br> looking for?</h1>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-md-6">
                <button id="rock" onclick="window.location = '{% url 'resource_finder:primary_needs' %}'" class="btn btn-lg btn-full-width btn-extra-lg btn-success" style="height: 600px;">Get Resources</button>
            </div>

            <div class="col-md-6">
                <button id="rock1" onclick="window.location = '{% url 'resource_finder:give_list' %}'" class="btn btn-lg btn-full-width btn-extra-lg btn-primary" style="height: 600px;">Give Resources</button>
            </div>
        </div>
    </div>
{% endblock %}
<!--
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
  -->