{% extends 'resource_finder/base.html' %}
{% load staticfiles %}

{% block extra_css %}
    <!-- Custom CSS -->
    <link href="{% static 'resource_finder/css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/resource_finder/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="../../static/resource_finder/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock %}

{% block main_content %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
				<i class="fa fa-home fa-3x" style="padding-right: 20px;" aria-hidden="true"></i>
			<a href="{% url 'resource_finder:guest_sorter' %}" class="btn btn-info" role="button">Pathfinder</a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Collective Mission </h1>
                        <h2>"Big 5"</h2>
                        <hr class="intro-divider">
                        <div id="collective_mission">
	                        <p>
	                        	Everyone* shares responsibility to respect, honor, and encourage the backgrounds of all individuals. Everyone shares responsibility to keep the space* safe and confidential for individuals and the community*. Everyone shares responsibility to clean, maintain, and respect the space. We strive to provide services that are guest-centered and empower everyone by interrupting oppression and holding ourselves and each other accountable. We strive to expand access by dismantling barriers and by following a harm reduction approach.
	                        </p>
	                        <p>
	                        	*Who is everyone? “Everyone” includes staff, volunteers, guests, board members, donors, and community partners. When these rules apply? All the time
	                        </p>
	                        <p>
	                        	*What is the space? Our “space” includes the shelter, the church, the alley, and surrounding businesses
	                        </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Partners<br>Special Thanks</h2>
                    <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../../static/resource_finder/img/home-img.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Services</h2>
                    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../../static/resource_finder/img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
{% endblock %}
