{% extends 'resource_finder/base.html' %}

{% block title %}Give Resources{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Give Resources</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <form method="get">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">I can donate</div>
                            <input value="{{ old_query }}" name="donate" type="text" class="form-control" placeholder="socks, toothpaste, razors...">
                            <div class="input-group-btn"><button class="btn btn-default">Submit</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                {% for facility in facilities %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="{% url 'resource_finder:view_facility' facility_id=facility.id %}">{{ facility.name }}</a></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <span style="color: darkorange; font-size: 1"><b>Low on stock</b></span>
                                    <ul>
                                        {% for thing in facility.commodities_low %}
                                            <li>{{ thing }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <span style="color: firebrick; font-size: 16px;"><b>Out of stock</b></span>
                                    <ul>
                                        {% for thing in facility.commodities_out %}
                                            <li>{{ thing }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}